/*
 ==========================================================================
   Wrapper & Grid styles
   ========================================================================== */

// full screen body
html, body {
  position: relative;
  height: 100%;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow-x: hidden;
}

.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  background: transparent;
}


/*
 ==========================================================================
   Base styles
   ========================================================================== */

*, *:after, *:before {
  @include box-sizing(border-box);
}

button, input, textarea {
  outline: none;
  &:focus {
    outline: none;
  }
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*
 ==========================================================================
   Footer styles
   ========================================================================== */

.footer {
  height: 100px;
}