/* ==========================================================================
   The grid
   ========================================================================== */

.container {
  width: 100%;
  display: block;
  *zoom: 1;
  &:before, 
  &:after {
    content: " "; 
    display: table;
  }
  &:after {
    clear: both;
  }
}

.grid-1,.grid-2,.grid-3,.grid-4,.grid-5,.grid-6,.grid-7,.grid-8,.grid-9,.grid-10,.grid-11,.grid-12 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px;
}

.grid-1 {
  width: 8.33%
}

.grid-2 {
  width: 16.667%;
}

.grid-3 {
  width: 25%;
}

.grid-4 {
  width: 33.33%;
}

.grid-5 {
  width: 41.66%;
}

.grid-6 {
  width: 50%;
}

.grid-7 {
  width: 58.33%
}

.grid-8 {
  width: 66.66%;
}

.grid-9 {
  width: 75%;
}

.grid-10 {
  width: 83.333%;
}

.grid-11 {
  width: 91.66%
}

.grid-12 {
  width: 100%;
}

// tablet - md ( 768px )
@media ( max-width: $md ) {
.grid-1-md {
  width: 8.33%
}

.grid-2-md {
  width: 16.667%;
}

.grid-3-md {
  width: 25%;
}

.grid-4-md {
  width: 33.33%;
}

.grid-5-md {
  width: 41.66%;
}

.grid-6-md {
  width: 50%;
}

.grid-7-md {
  width: 58.33%
}

.grid-8-md {
  width: 66.66%;
}

.grid-9-md {
  width: 75%;
}

.grid-10-md {
  width: 83.333%;
}

.grid-11-md {
  width: 91.66%
}

.grid-12-md {
  width: 100%;
}
}

// mobile landscape - sm ( 480px )
@media ( max-width: $sm ) {
.grid-1-sm {
  width: 8.33%
}

.grid-2-sm {
  width: 16.667%;
}

.grid-3-sm {
  width: 25%;
}

.grid-4-sm {
  width: 33.33%;
}

.grid-5-sm {
  width: 41.66%;
}

.grid-6-sm {
  width: 50%;
}

.grid-7-sm {
  width: 58.33%
}

.grid-8-sm {
  width: 66.66%;
}

.grid-9-sm {
  width: 75%;
}

.grid-10-sm {
  width: 83.333%;
}

.grid-11-sm {
  width: 91.66%
}

.grid-12-sm {
  width: 100%;
}
}

// mobile portrait - xs ( 320px )
@media ( max-width: $xs ) {
.grid-1-xs {
  width: 8.33%
}

.grid-2-xs {
  width: 16.667%;
}

.grid-3-xs {
  width: 25%;
}

.grid-4-xs {
  width: 33.33%;
}

.grid-5-xs {
  width: 41.66%;
}

.grid-6-xs {
  width: 50%;
}

.grid-7-xs {
  width: 58.33%
}

.grid-8-xs {
  width: 66.66%;
}

.grid-9-xs {
  width: 75%;
}

.grid-10-xs {
  width: 83.333%;
}

.grid-11-xs {
  width: 91.66%
}

.grid-12-xs {
  width: 100%;
}
}