// Font mixins
@mixin stix-general-italic {
  font-family: 'stix-general-italic', 'georgia', 'serif';
}

@mixin raisonne-demibold() {
  font-family: 'raisonne-demibold', 'helvetica', 'arial', 'sans-serif';
}

@mixin rex-bold() {
  font-family: 'rex-bold', 'helvetica', 'arial', 'sans-serif';
}

@mixin orator-medium() {
  font-family: 'orator-medium', 'helvetica', 'arial', 'sans-serif';
}

// Attributes mixins
@mixin transition($what, $time: 0.25s, $delay: 0s) {
	-webkit-transition: $what $time ease $delay;
	-moz-transition: $what $time ease $delay;
	-o-transition: $what $time ease $delay;
	-ms-transition: $what $time ease $delay;
	transition: $what $time ease $delay;
}

@mixin rotate($deg) {
	-webkit-transform: rotate($deg);
	-moz-transform: rotate($deg);
	-o-transform: rotate($deg);
	-ms-transform: rotate($deg);
	transform: rotate($deg);
}

@mixin gradient($fallback, $top, $bottom) {
	background: $fallback;
	background: -moz-linear-gradient(top, $top 0%, $bottom 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom));
	background: -webkit-linear-gradient(top, $top 0%,$bottom 100%);
	background: -o-linear-gradient(top, $top 0%,$bottom 100%);
	background: -ms-linear-gradient(top, $top 0%,$bottom 100%);
	background: linear-gradient(to bottom, $top 0%,$bottom 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$top}', endColorstr='#{$bottom}',GradientType=0 );
}

@mixin box-sizing($sizing) {
	-moz-box-sizing: $sizing;
	-webkit-box-sizing: $sizing;
	box-sizing: $sizing;
}

@mixin box-shadow($horz, $vert, $blur, $spread, $color) {
	-webkit-box-shadow: $horz $vert $blur $spread $color;
	box-shadow: $horz $vert $blur $spread $color;
}

@mixin box-shadow-inset($horz, $vert, $blur, $spread, $color) {
	-webkit-box-shadow: $horz $vert $blur $spread $color inset;
	box-shadow: $horz $vert $blur $spread $color inset;
}

@mixin opacity($opacity) {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opacity * 100})";
  opacity: $opacity;
}

@mixin user-select-none() {
  -webkit-touch-callout: none;
  -ms-touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@mixin background-size($size) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}

@mixin cf() {
  *zoom: 1;

  &:before, 
  &:after {
      content: " "; 
      display: table;
  }

  &:after {
      clear: both;
  }
}

// Animations
@mixin animation($effect) {
  -webkit-animation-name: $effect;
  -moz-animation-name: $effect;
  -o-animation-name: $effect;
  animation-name: $effect;
}

@mixin delay($time) {
-webkit-animation-delay: $time;
-moz-animation-delay: $time;
animation-delay: $time;
}