/* ==========================================================================
   Variables
   ========================================================================== */

// colors
$green:         #74C62B;
$blue:          #2b74c6;
$purple:        #7d2bc6;
$brown:         #c67d2b;
$orange:        #F0563D;
$orange-dark:   #c0392b;
$gray:          #cccccc;
$gray-light:    #e3e3e3;
$gray-dark:     #777777;
$white-opacity: rgba(255, 255, 255, 0.7);

// transitions
$fast:          0.15s;
$normal:        0.25s;
$slow:          0.50s;

// opacity
$defaultOpacity: 0.7;

// resolutions
$md:            768px;
$sm:            480px;
$xs:            320px;

/* ==========================================================================
   Clearfix
   ========================================================================== */

.cf {
  *zoom: 1;

  &:before, 
  &:after {
      content: " "; 
      display: table;
  }

  &:after {
      clear: both;
  }
}

/* ==========================================================================
   Elements
   ========================================================================== */

.skills {
  li {
    padding: 5px 0;
    .progress {
      padding: 5px 10px;
      background-color: $orange;
      color: white;

      &.p100 { width: 100%; }
      &.p90  { width: 90%; }
      &.p80  { width: 80%; }
      &.p70  { width: 70%; }
      &.p60  { width: 60%; }
      &.p50  { width: 50%; }
      &.p40  { width: 40%; }
      &.p30  { width: 30%; }
      &.p20  { width: 20%; }
      &.p10  { width: 10%; }
    }
  }
}

.experience {
  position: relative;
  z-index: 1;
  padding: 1em 0;
  &.timeline {
    &:before {
      width: 6px;
      height: 100%;
      position: absolute;
      left: 28px;
      top: 0;
      content: ' ';
      display: block;
      background: $orange;
      background: -moz-linear-gradient(top, white 0%, $orange 10%, $orange 90%, white 100%);
      background: -webkit-linear-gradient(top, white 0%,$orange 10%,$orange 90%,white 100%);
      background: -o-linear-gradient(top, white 0%,$orange 10%,$orange 90%,white 100%);
      background: -ms-linear-gradient(top, white 0%,$orange 10%,$orange 90%,white 100%);
      background: linear-gradient(to bottom, white 0%,$orange 10%,$orange 90%, white 100%);
    }
  }
  li, .date {
    float: left;
  }
  li {
    position: relative;
    z-index: 2;
    width: 100%;
  }
  .date {
    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background-color: white;
  }
  .job {
    background-color: $gray-light;
    border-bottom: 1px solid $gray;
    .title {
      margin: 10px 0;
      a {
        color: black;
        &:hover {
          color: $orange;
          cursor: pointer;
        }
      }
    }
  }
}



/* ==========================================================================
   Position & display helpers
   ========================================================================== */
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.inline {
  display: inline-block;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.opacity-0 {
  @include opacity(0);
}

.opacity-1 {
  @include opacity(1);
}

.relative {
  position: relative;
}


/* ==========================================================================
   Margins and paddings
   ========================================================================== */

.mt10   { margin-top:     10px; }
.mt-10  { margin-top:    -10px; }
.mt20   { margin-top:     20px; }
.mt-20  { margin-top:    -20px; }
.mt40   { margin-top:     40px; }
.mt-40  { margin-top:    -40px; }
.mr20   { margin-right:   20px; }
.mr-20  { margin-right:  -20px; }
.mb10   { margin-bottom:  10px; }

.pt0    { padding-top:      0; }
.pt10   { padding-top:   10px; }
.pl0    { padding-left:     0; }

/* ==========================================================================
   Button & link styles
   ========================================================================== */

.btn {
  display: inline-block;
  padding: 15px 10px;
  width: 90%;
  text-align: center;
  transition: background $fast ease-in-out;
  &:hover {
    cursor: pointer;
  }
}

.btn-md, .btn-sm, .btn-xs {
  display: block;
  margin: 0 auto;
}
.btn-md {
  width: 70%;
}
.btn-sm {
  width: 50%;
}
.btn-xs {
  width: 40%;
}

.btn-white {
  background: white;
  border: 1px solid white;
  color: black;
  &:hover {
    background: black;
    color: white;
  }
}

.btn-orange {
  background: $orange;
  border: 1px solid $orange;
  color: white;
  &:hover {
    background: $orange-dark;
    border: 1px solid $orange-dark;
  }
}

.btn-transparent {
  background: transparent;
  &.btn-white {
    color: white;
    &:hover {
      background: white;
      color: black;
    }
  }
}


/* ==========================================================================
   Forms
   ========================================================================== */




/* ==========================================================================
   Various
   ========================================================================== */


.delay-1 {
  @include delay(300ms);
}
.delay-2 {
  @include delay(600ms);
}
.delay-3 {
  @include delay(900ms);
}
.delay-4 {
  @include delay(1200ms);
}