#home_section.wrapper
  .box-center.animated.fadeIn
    %h1.animated.bounceIn.delay-1 Siniša Mikulić
    %hr.animated.fadeInUp.delay-2
    %p.animated.fadeInUp.delay-3 Frontend developer
    .container.mt20
      .grid-6.grid-12-sm.mt20
        =link_to "Blog", "/posts", class: "btn btn-white btn-transparent animated flipInX delay-4"
      .grid-6.grid-12-sm.mt20
        =link_to "About", "#about_section", class: "btn btn-white btn-transparent animated flipInX delay-4 scroll"

.container
  #about_section
    .container
      .grid-6.grid-12-sm
        %h2.uppercase // About me
        %p Hello, my name is Siniša, currently living and working in Berlin as a frontend developer - HTML/Haml, CSS/SCSS, JS/JQuery/CoffeeScript, but with a lot of passion for Ruby on Rails and on a path towards full-stack skillset. Also pixel perfect junkie and absolutely love responsive design and clean code.
        =link_to "Download CV", "#", class: "btn btn-sm btn-orange mt20"
      .grid-6.grid-12-sm
        %h2.uppercase // Skills
        %ul.skills
          %li
            .progress.p100 HTML5/Haml
          %li
            .progress.p100 CSS3/Less/Sass
          %li
            .progress.p80 JavaScript/jQuery
          %li
            .progress.p70 Ruby on Rails
    .container
      .grid-6.grid-12-sm
        %h2.uppercase // Experience
        %ul.experience.timeline.cf
          %li
            .grid-2.grid-3-md
              .date 2014
            .grid-10.grid-9-md.job.mb10
              %h4.title
                =link_to "Outfittery", "http://www.outfittery.de/"
              %p.desc Implementing new JS features and modular structure using SCRUM. Ensuring code quality, reusability, CI deployment and compatibility across browsers/devices.
          %li
            .grid-2.grid-3-md
              .date 2014
            .grid-10.grid-9-md.job.mb10
              %h4.title
                =link_to "Bib + Tuck", "https://www.bibandtuck.com/"
              %p.desc Agile development (Ruby on Rails), new responsive design, code optimization, new features in HAML/SCSS/JavaScript technologies.
          %li
            .grid-2.grid-3-md
              .date 2013
            .grid-10.grid-9-md.job.mb10
              %h4.title
                =link_to "Styria", "http://www.styria.com/en/styria/"
              %p.desc 
                Developing and optimizing graphic templates into HTML/CSS/JavaScript, establishing a high quality and consistent UX and UI baseline, projects (e.g., 
                = link_to "barometar.hr", "http://barometar.vecernji.hr/"
                )
          %li
            .grid-2.grid-3-md
              .date 2012
            .grid-10.grid-9-md.job.mb10
              %h4.title
                =link_to "cleanpay.me", "http://cleanpay.me/"
              %p.desc Developing UX concepts and user interface (UI), wireframing, layout programming and styling HTML structure, cross-browser and cross-device testing, use case analyses and SEO optimization.
   
      .grid-6.grid-12-sm
        %h2.uppercase // Education
        %ul.experience.cf
          %li
            .grid-12.job.mb10
              %h4.title
                = link_to "University of Zagreb, Faculty of Organization and Informatics", "http://www.foi.unizg.hr/"
              %p.desc Information and Business Systems, BSc
          %li
            .grid-12.job.mb10
              %h4.title
                =link_to "Technical School Ruđer Bošković", "http://www.tsrb.hr/new/"
              %p.desc Technician for Computing Science, High School Graduate

        %h2.uppercase // Contact
        %ul.contact
          %li
            %i.fa.fa-2x.fa-envelope
            sinisa.mikulic@gmail.com
          %li
            %i.fa.fa-2x.fa-skype
            frut3k1