#home_section {
  
&.wrapper {
  background: transparent asset_url("bg4.jpg") no-repeat center center;
}
.box-center {
  position: absolute;
  width: 40%;
  top: 50%;
  left: 50%;
  margin-top: -172px;
  margin-left: -20%;
  padding: 40px 50px;
  background: rgba(0, 0, 0, 0.55);
  text-align: center;
  color: white;
  z-index: 1;
  @media (max-width: $md) {
    width: 60%;
    margin-left: -30%;
  }
  @media (max-width: $sm) {
    width: 70%;
    margin-left: -35%;
  }
  @media (max-width: $xs) {
    width: 80%;
    margin-left: -40%;
  }
}
}