/* ========================================
  1. Tabs

 WARNING: You can't have tabs within tabs

 Manual: You need three things to make this work:
 a container, .tab-unit(s), and .tab-link(s). Both links and units
 need to be wrapped with a container on which you call this method.
 You can optionally pass in a tab link that will be
 selected by default as an argument.
 If not, the first tab link will be selected by default.
 If you want the tabs to operate on hover instead of click,
 pass in hover: true to settings object

 Active link gets class="active-tab-link"
 Active tab gets class="active-tab"

 Example:

 <div class="tabs-container">
 <a href="#tab1" class="tab-link">Load Tab1</a>
 <a href="#tab2" class="tab-link id="default-tab">Load Tab2</a>

 <div class="tab-unit" id="tab1"> ...tab1 content... </div>
 <div class="tab-unit" id="tab2"> ...tab2 content... </div>
 </div>

 <script> $(".tabs-container").cstmTabs({ selected: ".default-tab", hover: true }); </script>

 ====================================== */


;(function($, window, document) {


  /*var pluginName = 'cstmTabs',
      defaults = {
        selected: 0,
        hover: false
      };

  function Plugin( element, options ) {
    this.element = element;
    this.options = $.extend( {}, defaults, options);

    this._defaults = defaults;
    this._name = pluginName;

    this.init();
  }

  Plugin.prototype.init = function () {

    var tabsContainer = $(this.element),
        tabUnits = tabsContainer.find(".tab-unit"),
        tabLinks = tabsContainer.find(".tab-link"),
        selected = this.options.selected ? this.options.selected : tabLinks.eq(0)[0],
        eventType = this.options.hover ? "mouseenter" : "click";

    tabUnits.hide();

    tabsContainer.on( eventType + ".tabs", ".tab-link", function(e) {
      e.preventDefault();

      tabUnits.filter(":visible").removeClass("active-tab").hide();
      tabLinks.removeClass("active-link");

      $(this.hash).show().addClass("active-tab");
      $(this).addClass("active-link");
    });

    tabsContainer.find(selected).trigger(eventType + ".tabs");

  };

  $.fn[pluginName] = function ( options ) {
    return this.each(function () {
      if (!$.data(this, 'plugin_' + pluginName)) {
        $.data(this, 'plugin_' + pluginName,
            new Plugin( this, options ));
      }
    });
  }*/



}(jQuery, window, document));




$( document ).ready(function() {

  // scroll to hash section
  var hashTagActive = "";
  $(".scroll").click(function (event) {
    if(hashTagActive != this.hash) { //this will prevent if the user click several times the same link to freeze the scroll.
      //event.preventDefault();
      //calculate destination place
      var dest = 0;
      if ($(this.hash).offset().top > $(document).height() - $(window).height()) {
          dest = $(document).height() - $(window).height();
      } else {
          dest = $(this.hash).offset().top;
      }
      //go to destination
      $('html,body').animate({
          scrollTop: dest
      }, 1000, 'swing');
      hashTagActive = this.hash;
      
      return false;
    }
  });

});


