%p#notice= notice
= render partial: @post
= link_to 'Back', posts_path
%h2 Comments
#comments
  = render partial: @post.comments
= form_for [@post, Comment.new], remote: true do |f|
  %p
    = f.label :body, "New comment"
    %br/
    = f.text_area :body
  %p= f.submit "Add comment"