!!!
%html
  %head
    %title Siniša Blog
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = auto_discovery_link_tag(:atom, posts_path(:atom))
    = favicon_link_tag 'favicon.ico'
  %body
    //= render partial: 'layouts/header'
    = yield
    = render partial: 'layouts/footer'